<div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                        <div class="widget-main">
                                <h4 class="header blue lighter bigger">
                                        Por favor, digite suas credenciais
                                </h4>
                                <div class="red bolder center"><?php echo $this->Session->flash(); ?></div>

                                <div class="space-6"></div>

                                    <fieldset>
                                        <?php
                                            echo $this->Form->create('Usuario', array('inputDefaults' => array('label' => false, 'class'=>'form-control','div' => false)) );
                                        ?>
                                            <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <?php echo $this->Form->input('username', array('placeholder'=>'Usuário')); ?>
<!--                                                            <input type="text" name="[Usuario][username]" class="form-control" placeholder="Email" />-->
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                            </label>

                                            <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <?php echo $this->Form->input('password', array('placeholder'=>'Senha')); ?>
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">

                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                            <i class="ace-icon fa fa-key"></i>
                                                            <span class="bigger-110">Entrar</span>
                                                    </button>
                                            </div>

                                            <div class="space-4"></div>
                                        <?php
                                            echo $this->Form->end();
                                        ?>
                                    </fieldset>

                        </div><!-- /.widget-main -->

                        <div class="toolbar clearfix">
                                <div>
                                        <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                Esqueci minha senha
                                        </a>
                                </div>
                        </div>
                </div><!-- /.widget-body -->
        </div><!-- /.login-box -->

        <div id="forgot-box" class="forgot-box widget-box no-border">
                <div class="widget-body">
                        <div class="widget-main">
                                <h4 class="header red lighter bigger">
                                        <i class="ace-icon fa fa-key"></i>
                                        Reenvio de Senha
                                </h4>

                                <div class="space-6"></div>
                                <p>
                                        Digite o seu email para receber a nova senha
                                </p>

                                <?php
                                    echo $this->Form->create('Usuario', array('inputDefaults' => array('label' => false, 'class'=>'form-control','div' => false)) );
                                ?>
                                        <fieldset>
                                                <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                                <?php echo $this->Form->input('email', array('placeholder'=>'Email')); ?>
                                                                <i class="ace-icon fa fa-envelope"></i>
                                                        </span>
                                                </label>

                                                <div class="clearfix">
                                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                                <i class="ace-icon fa fa-lightbulb-o"></i>
                                                                <span class="bigger-110">Enviar!</span>
                                                        </button>
                                                </div>
                                        </fieldset>
                                <?php
                                    echo $this->Form->end();
                                ?>
                        </div>

                        <div class="toolbar center">
                                <a href="#" data-target="#login-box" class="back-to-login-link">
                                        Voltar para o login
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                        </div>
                </div>
        </div>

<!--                                                        <div id="signup-box" class="signup-box widget-box no-border">
                <div class="widget-body">
                        <div class="widget-main">
                                <h4 class="header green lighter bigger">
                                        <i class="ace-icon fa fa-users blue"></i>
                                        New User Registration
                                </h4>

                                <div class="space-6"></div>
                                <p> Enter your details to begin: </p>

                                <form>
                                        <fieldset>
                                                <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                                <input type="email" class="form-control" placeholder="Email" />
                                                                <i class="ace-icon fa fa-envelope"></i>
                                                        </span>
                                                </label>

                                                <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                                <input type="text" class="form-control" placeholder="Username" />
                                                                <i class="ace-icon fa fa-user"></i>
                                                        </span>
                                                </label>

                                                <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                                <input type="password" class="form-control" placeholder="Password" />
                                                                <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                </label>

                                                <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                                <input type="password" class="form-control" placeholder="Repeat password" />
                                                                <i class="ace-icon fa fa-retweet"></i>
                                                        </span>
                                                </label>

                                                <label class="block">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl">
                                                                I accept the
                                                                <a href="#">User Agreement</a>
                                                        </span>
                                                </label>

                                                <div class="space-24"></div>

                                                <div class="clearfix">
                                                        <button type="reset" class="width-30 pull-left btn btn-sm">
                                                                <i class="ace-icon fa fa-refresh"></i>
                                                                <span class="bigger-110">Reset</span>
                                                        </button>

                                                        <button type="button" class="width-65 pull-right btn btn-sm btn-success">
                                                                <span class="bigger-110">Register</span>

                                                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                        </button>
                                                </div>
                                        </fieldset>
                                </form>
                        </div>

                        <div class="toolbar center">
                                <a href="#" data-target="#login-box" class="back-to-login-link">
                                        <i class="ace-icon fa fa-arrow-left"></i>
                                        Back to login
                                </a>
                        </div>
                </div> /.widget-body 
        </div> /.signup-box -->
</div><!-- /.position-relative -->